body {
    margin: 0px;
}

.layout {
    display: flex;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    min-height: 100vh;
}

.logo{
    align-items: center;
    display: flex;
    padding-left: 1rem;
}

.logo h1{
    margin-left: 0;
    color: white;
}

.logo img{
    height: 1.8em;
    width: auto;
}


/* Sidebar and links */
.sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: #0F123F;
}

.sidebar a{
    display: flex;
    gap: 0.5em;
    font-size: large;
    text-decoration: none;
    color: #8c8fc6;
}

.main-links a{
    padding: 1em;
}

.bottom-links a{
    padding: 0.5em;
}

.bottom-links{
    margin-top: auto;
    padding-left: 1em;
    padding-bottom: 1em;
}

.sidebar a:hover {
    color: #F89925;
}

.icon {
    width: 1em;
    height: auto;
    display: inline-block;
    vertical-align: top;
}


/* Main content, metric cards */
.main-content {
    flex: 5;
    padding: 1rem;
    padding-top: 0;
    width: 100%;
}

.main-content {
    flex: 5;
    padding: 1rem;
    padding-top: 0;
    width: 100%;
}

.metrics-grid {
    display: flex;
    width: 100%;
    gap: 1rem;
}

.metric-card{
    flex: 1;
    border: solid 1px #0000004c;
    border-radius: 1rem;

}

.metric-card > *{
    margin: 1rem;
}

.metric-card span{
    display:block;
    font-size: small;
    color: #0000008b;
    text-align: center;
}

.metric-card h3{
    text-align: center;
}
